<div class="container-fluid callback-section">
  <section class="row callback-module">
    <div class="col-md-12 col-sm-12 callback-text">
      <h3 class="callback-title">Want a guided tour of the platform?</h3>
      <div class="container">
        <div class="col-md-6 col-sm-12">
          <strong class="text-pricing-module">Call us to find out about class discounts for groups of pupils: </strong><span class="call-time-pricing"> <%= link_to '0203 771 0095', 'callto:02037710095' %></span><br />
          <span class="call-time-pricing">8.30am - 6pm (Monday to Friday)</span>
        </div>
        <div class="col-md-1 col-sm-12">
          <strong class = "or-pricing">or</strong>
        </div>
        <div class="col-md-5 col-sm-12">
          <a class="btn" href="<%= book_a_demo_path %>">Book a demo</a>
        </div>
      </div>
    </div>
  </section>
</div>